In [1]:
from module_absenteeism import *

In [2]:
data=pd.read_csv('D:\\Academics\\Practice\\365\\Files\\Absenteeism_new_data.csv')
data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,22,27,01/06/2018,179,26,30,237.656,19,3,0,0
1,10,7,04/06/2018,361,52,28,237.656,27,1,1,4
2,14,23,06/06/2018,155,12,34,237.656,25,1,2,0
3,17,25,08/06/2018,179,22,40,237.656,22,2,2,0
4,14,10,08/06/2018,155,12,34,237.656,25,1,2,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       40 non-null     int64
 1   Reason for Absence       40 non-null     int64
 2   Date                     40 non-null     object
 3   Transportation Expense   40 non-null     int64
 4   Distance to Work         40 non-null     int64
 5   Age                      40 non-null     int64
 6   Daily Work Load Average  40 non-null     float64
 7   Body Mass Index          40 non-null     int64
 8   Education                40 non-null     int64
 9   Children                 40 non-null     int64
 10  Pets                     40 non-null     int64
dtypes: float64(1), int64(9), object(1)
memory usage: 3.6+ KB

In [4]:
model=absenteeism_model('absenteeism_model','absenteeism_scaler')

In [5]:
model.load_and_clean_data('D:\\Academics\\Practice\\365\\Files\\Absenteeism_new_data.csv')

In [6]:
model.predicted_outputs()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.099606,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.897208,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.256589,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.167399,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.738422,1
5,1,0.0,0,0,6,225,28,24,0,1,2,0.734155,1
6,1,0.0,0,0,6,118,46,25,0,2,0,0.564257,1
7,0,0.0,0,1,6,179,30,19,1,0,0,0.099606,0
8,0,0.0,0,1,6,118,37,28,0,0,0,0.118777,0
9,1,0.0,0,0,6,118,37,28,0,0,0,0.524355,1
10,0,0.0,0,1,6,378,36,21,0,2,4,0.466624,0
11,0,0.0,1,0,6,118,50,31,0,1,0,0.719116,1
12,0,0.0,1,0,6,233,31,21,1,1,8,0.362564,0
13,0,0.0,0,1,6,179,30,19,1,0,0,0.099606,0
14,0,0.0,0,0,6,235,48,33,0,1,5,0.012459,0
15,0,0.0,0,0,6,268,33,25,1,0,0,0.029008,0
16,0,0.0,1,0,6,118,50,31,0,1,0,0.719116,1
17,1,0.0,0,0,6,179,30,19,1,0,0,0.475010,0
18,0,0.0,0,1,6,291,40,25,0,1,1,0.400341,0
19,1,0.0,0,0,7,179,30,19,1,0,0,0.476482,0
20,0,0.0,0,1,7,118,37,28,0,0,0,0.119396,0
21,0,0.0,0,1,7,233,31,21,1,1,8,0.034202,0
22,1,0.0,0,0,7,118,37,28,0,0,0,0.525828,1
23,1,0.0,0,0,7,118,37,28,0,0,0,0.525828,1
24,0,0.0,0,1,7,233,31,21,1,1,8,0.034202,0
25,0,0.0,0,1,7,235,43,38,0,1,0,0.547847,1
26,0,0.0,1,0,7,233,31,21,1,1,8,0.363930,0
27,1,0.0,0,0,7,228,58,22,0,2,1,0.636437,1
28,0,0.0,0,1,7,118,37,28,0,0,0,0.119396,0
29,1,0.0,0,0,7,228,58,22,0,2,1,0.636437,1
30,0,0.0,0,1,7,189,33,25,0,2,2,0.230091,0
31,0,0.0,0,1,7,118,37,28,0,0,0,0.119396,0
32,0,0.0,0,1,7,361,28,27,0,1,4,0.517724,1
33,0,0.0,0,1,7,225,28,24,0,1,2,0.253535,0
34,1,0.0,0,0,7,369,31,25,0,3,0,0.977766,1
35,1,0.0,0,0,7,289,33,30,0,2,1,0.933058,1
36,1,0.0,0,0,7,235,37,29,1,1,1,0.756486,1
37,0,0.0,0,0,7,118,40,34,0,1,8,0.002202,0
38,0,0.0,0,0,7,231,39,35,0,2,2,0.056995,0
39,0,0.0,0,0,7,179,53,25,0,1,1,0.009403,0

In [29]:
b=model.predicted_outputs()
b.to_csv('absenteeism_pred.csv')

In [7]:
import pymysql

In [8]:
conn=pymysql.connect(database='predicted_outputs',user='root',
                     password='')

In [9]:
cursor=conn.cursor()

dataframe/table

In [10]:
df_new_obs=model.predicted_outputs()
df_new_obs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.099606,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.897208,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.256589,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.167399,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.738422,1

In [11]:
df_new_obs['Reason_1'].unique()

array([0, 1], dtype=uint8)

In [12]:
df_new_obs['Reason_2']=df_new_obs['Reason_2'].astype(int)

In [25]:
df_new_obs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0,0,1,6,179,30,19,1,0,0,0.099606,0
1,1,0,0,0,6,361,28,27,0,1,4,0.897208,1
2,0,0,0,1,6,155,34,25,0,2,0,0.256589,0
3,0,0,0,1,6,179,40,22,1,2,0,0.167399,0
4,1,0,0,0,6,155,34,25,0,2,0,0.738422,1

execute

In [13]:
cursor.execute('select * from predicted_outputs')

0

In [14]:
insert_query='insert into predicted_outputs values '

In [15]:
df_new_obs.shape

(40, 13)

In [16]:
df_new_obs.columns.values[2]

'Reason_3'

In [17]:
df_new_obs['Age']

0     30
1     28
2     34
3     40
4     34
5     28
6     46
7     30
8     37
9     37
10    36
11    50
12    31
13    30
14    48
15    33
16    50
17    30
18    40
19    30
20    37
21    31
22    37
23    37
24    31
25    43
26    31
27    58
28    37
29    58
30    33
31    37
32    28
33    28
34    31
35    33
36    37
37    40
38    39
39    53
Name: Age, dtype: int64

In [18]:
df_new_obs[df_new_obs.columns.values[4]]

0     6
1     6
2     6
3     6
4     6
5     6
6     6
7     6
8     6
9     6
10    6
11    6
12    6
13    6
14    6
15    6
16    6
17    6
18    6
19    7
20    7
21    7
22    7
23    7
24    7
25    7
26    7
27    7
28    7
29    7
30    7
31    7
32    7
33    7
34    7
35    7
36    7
37    7
38    7
39    7
Name: Month Value, dtype: int64

In [19]:
df_new_obs[df_new_obs.columns.values[4]][0]

6

In [20]:
for i in range(df_new_obs.shape[0]):
    insert_query+='('                       #inserting rowise. at the start of each row
    
    for j in range(df_new_obs.shape[1]):    #columnwise. after every entry
        insert_query+=str(df_new_obs[df_new_obs.columns.values[j]][i])+', '
    
    insert_query=insert_query[:-2]+'),'

In [21]:
insert_query

'insert into predicted_outputs values (0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.09960639119258158, 0),(1, 0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8972081198457529, 1),(0, 0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.2565886323388379, 0),(0, 0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.16739892659117445, 0),(1, 0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7384223853749573, 1),(1, 0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7341551049960623, 1),(1, 0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5642567886129013, 1),(0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.09960639119258158, 0),(0, 0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.11877693174996803, 0),(1, 0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5243549034415833, 1),(0, 0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.46662416931142137, 0),(0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.7191155509604918, 1),(0, 0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.36256391243032093, 0),(0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.09960639119258158, 0),(0, 0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.012459289766118941, 0),(0, 0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.029008340079922024, 0),(0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.7191155509604918, 1),(1, 0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.475009509128589, 0),(0, 0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.40034051104902324, 0),(1, 0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.47648237670416393, 0),(0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.119396433637674, 0),(0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.03420227432589807, 0),(1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5258275270671581, 1),(1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5258275270671581, 1),(0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.03420227432589807, 0),(0, 0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.547847403103361, 1),(0, 0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.3639298149478031, 0),(1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6364373146536002, 1),(0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.119396433637674, 0),(1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6364373146536002, 1),(0, 0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.2300906875683906, 0),(0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.119396433637674, 0),(0, 0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.5177241971266809, 1),(0, 0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.25353483929252196, 0),(1, 0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9777660867873291, 1),(1, 0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9330576254121712, 1),(1, 0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7564861552058482, 1),(0, 0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.002201514116316987, 0),(0, 0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.056994854269173556, 0),(0, 0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.009402952196235024, 0),'

In [22]:
insert_query=insert_query[:-2]+';'

In [23]:
insert_query

'insert into predicted_outputs values (0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.09960639119258158, 0),(1, 0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.8972081198457529, 1),(0, 0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.2565886323388379, 0),(0, 0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.16739892659117445, 0),(1, 0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.7384223853749573, 1),(1, 0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.7341551049960623, 1),(1, 0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.5642567886129013, 1),(0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.09960639119258158, 0),(0, 0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.11877693174996803, 0),(1, 0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.5243549034415833, 1),(0, 0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.46662416931142137, 0),(0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.7191155509604918, 1),(0, 0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.36256391243032093, 0),(0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.09960639119258158, 0),(0, 0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.012459289766118941, 0),(0, 0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.029008340079922024, 0),(0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.7191155509604918, 1),(1, 0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.475009509128589, 0),(0, 0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.40034051104902324, 0),(1, 0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.47648237670416393, 0),(0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.119396433637674, 0),(0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.03420227432589807, 0),(1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5258275270671581, 1),(1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.5258275270671581, 1),(0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.03420227432589807, 0),(0, 0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.547847403103361, 1),(0, 0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.3639298149478031, 0),(1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6364373146536002, 1),(0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.119396433637674, 0),(1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.6364373146536002, 1),(0, 0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.2300906875683906, 0),(0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.119396433637674, 0),(0, 0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.5177241971266809, 1),(0, 0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.25353483929252196, 0),(1, 0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.9777660867873291, 1),(1, 0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.9330576254121712, 1),(1, 0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.7564861552058482, 1),(0, 0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.002201514116316987, 0),(0, 0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.056994854269173556, 0),(0, 0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.009402952196235024, 0;'

In [27]:
# cursor.execute(insert_query)

In [ ]:
conn.commit()

In [26]:
conn.close()